.atamadaka-word { color: red; }
.pitch-tooltip > .atamadaka > * { border: 0 solid red; }
.atamadaka-secondary-word { text-shadow: 0 2px 2px red }

.heiban-word { color: blue; }
.pitch-tooltip > .heiban > * { border: 0 solid blue }
.heiban-secondary-word { text-shadow: 0 2px 2px blue }

.nakadaka-word { color: darkorange; }
.pitch-tooltip > .nakadaka > * { border: 0 solid darkorange; }
.nakadaka-secondary-word { text-shadow: 0 2px 2px darkorange }

.odaka-word { color: green }
.pitch-tooltip > .odaka > * { border: 0 solid green; }
.odaka-secondary-word { text-shadow: 0 2px 2px green }

.multi-word { color: purple; }

.pitch-tooltip > * > .low-pitch { border-bottom-width: 2px; }
.pitch-tooltip > * > .high-pitch { border-width: 2px; border-bottom-width: 0; }
.pitch-tooltip > * > .high-pitch:first-of-type { border-left: none; }
.pitch-tooltip > * > .high-pitch:last-of-type { border-right: none; }

.pitch-tooltip {
  color: black;
  visibility: hidden;
  position: absolute;
  background-color: #ddd;
  padding-bottom: 2px;
  text-shadow: none;
}
span:hover > .pitch-tooltip { visibility: visible; }

